.memory-card {
    width: 150px;
    height: 150px;
    background-color: #f25a70;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .16)
}

.memory-card > .icon {
    width: 100px;
    height: 100px;
}

.memory-card.-round {
    position: absolute;
    top: 0;
    left: 0%;
    transform: translateX(110%);
    background-color: #fff;
}

.memory-card.-round::after {
    content: '';
    top: 35px;
    position: absolute;
    z-index: -1;
    background-color: #d4d4d4;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}